/* card */
.card {
    transition: all 0.3s ease;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.card-btn {
    font-size: 25px;
    font-weight: 500;
    margin: 0 auto 5px;
    width: 150px;
    height: 50px;
    transition: all 0.3s ease-in;
}

.card-btn:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}


/* fullscreencard */

.full-screen-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.full-screen-card__body {
    margin: 0 20px;
    border-radius: 20px;
    border: 1px solid rgb(90, 84, 84);
    background-color: white;
    height: 600px;
    width: 800px;
}

.full-screen-card__body img {
    height: 200px;
    width: 250px;
}


/* table */

.table-element {
    cursor: pointer;
}

.table-delete {
    font-size: 20px;
    font-weight: 600;
    transition: all 1s ease;
}



@media (max-width: 791px) {
    .full-screen-card__body {
        font-size: 14px;
    }
}

@media (max-width: 744px) {
    .full-screen-card__body {
        height: 100%;
    }
}

@media (max-width: 667px) {
    .full-screen-card__body img {
        margin-bottom: 20px;
    }

    .full-screen-card__body iframe {
        width: 250px;
    }
}


@media (max-width: 540px) {

    .full-screen-card__body img {
        display: none;
    }

}

@media (max-width: 420px) {

    .full-screen-card__body {
        font-size: 12px;
    }

    .loadingH1 {
        display: none;
    }

}